In [9]:
import pandas as pd
df = pd.read_csv('../routine_boulder_inspections_filtered.csv')

In [10]:
df.head()

,Unnamed: 0,facilityId,facilityName,siteAddress,streetNumber,streetDirection,streetName,streetType,streetUnit,city,...,categoryOfFacility,inspectionType,inspectionDate,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore,location
0,0,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,...,FULL MENU LIMITED SERVICE,ROUTINE INSPECTION,11/13/2013,01B,Wholesome Free of Spoilage,0,Critical,In,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897..."
1,1,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,...,FULL MENU LIMITED SERVICE,ROUTINE INSPECTION,11/13/2013,15B,Linen Properly Stored,0,Non-Critical,Not Observed,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897..."
2,2,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,...,FULL MENU LIMITED SERVICE,ROUTINE INSPECTION,11/13/2013,06C,Soap and Drying Devices,0,Critical,In,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897..."
3,3,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,...,FULL MENU LIMITED SERVICE,ROUTINE INSPECTION,2/6/2015,03G,Adequate Equipment to Maintain Food Temperatures,0,Critical,In,0,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897..."
4,4,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,...,FULL MENU LIMITED SERVICE,ROUTINE INSPECTION,11/13/2013,03C,Hot Hold at 135 Degrees Farenheit or Greater,0,Critical,In,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897..."

In [11]:
df.columns

Index(['Unnamed: 0', 'facilityId', 'facilityName', 'siteAddress',
       'streetNumber', 'streetDirection', 'streetName', 'streetType',
       'streetUnit', 'city', 'state', 'zip', 'typeOfFacility',
       'categoryOfFacility', 'inspectionType', 'inspectionDate',
       'violationCode', 'violation', 'violationPoints', 'violationType',
       'violationStatus', 'inspectionScore', 'location'],
      dtype='object')

In [12]:
# keep only necessary columns for database
filtered_df = df[['facilityId','inspectionDate','violationCode','violation','violationPoints','violationType','violationStatus','inspectionScore']]
filtered_df.head()

,facilityId,inspectionDate,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore
0,FA0003323,11/13/2013,01B,Wholesome Free of Spoilage,0,Critical,In,27
1,FA0003323,11/13/2013,15B,Linen Properly Stored,0,Non-Critical,Not Observed,27
2,FA0003323,11/13/2013,06C,Soap and Drying Devices,0,Critical,In,27
3,FA0003323,2/6/2015,03G,Adequate Equipment to Maintain Food Temperatures,0,Critical,In,0
4,FA0003323,11/13/2013,03C,Hot Hold at 135 Degrees Farenheit or Greater,0,Critical,In,27

In [18]:
# any inappropriate null values?
filtered_df.isnull().sum()

facilityId             0
inspectionDate         0
violationCode          0
violation              0
violationPoints        0
violationType      16713
violationStatus     1476
inspectionScore        0
dtype: int64

In [24]:
filtered_df[filtered_df['violationType'].isna()].head()
# per group discussion, null violationType rows can stay

,facilityId,inspectionDate,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore
128,FA0003472,6/20/2019,FC51,Plumbing installed; proper backflow devices,10,NaN,Not Observed,10
129,FA0003618,6/17/2019,FC42,Washing fruits & vegetables,15,NaN,Not Observed,25
130,FA0003472,6/20/2019,FC47,"Food & non-food contact surfaces cleanable, pr...",5,NaN,Not Observed,10
132,FA0002790,6/19/2019,FC48,"Warewashing facilities: installed, maintained,...",5,NaN,Not Observed,45
133,FA0003472,6/20/2019,FC37,Food properly labeled; original container,10,NaN,Not Observed,10

In [25]:
filtered_df[filtered_df['violationStatus'].isna()].head()
# per group discussion, keeping null violation status for now
# further filtering to be done in sql

,facilityId,inspectionDate,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore
146,FA0001363,6/19/2019,FC21,Proper hot holding temperatures,20,Critical,NaN,65
147,FA0003618,6/17/2019,FC10,Adequate handwashing sinks properly supplied a...,10,Critical,NaN,25
163,FA0003618,6/17/2019,FC05,Procedures for responding to vomiting and diar...,5,Critical,NaN,25
186,FA0001363,6/19/2019,FC23,Proper date marking and disposition,10,Critical,NaN,65
191,FA0002790,6/19/2019,FC10,Adequate handwashing sinks properly supplied a...,10,Critical,NaN,45

In [26]:
filtered_df.groupby(['violationStatus']).count()

,facilityId,inspectionDate,violationCode,violation,violationPoints,violationType,inspectionScore
violationStatus,,,,,,,
In,106485,106485,106485,106485,106485,103239,106485
Not Applicable,15692,15692,15692,15692,15692,15453,15692
Not Observed,88664,88664,88664,88664,88664,75710,88664
Out,8570,8570,8570,8570,8570,8570,8570

In [31]:
# check datatypes
filtered_df.dtypes

facilityId                 object
inspectionDate     datetime64[ns]
violationCode              object
violation                  object
violationPoints             int64
violationType              object
violationStatus            object
inspectionScore             int64
dtype: object

In [30]:
filtered_df['inspectionDate'] = pd.to_datetime(filtered_df['inspectionDate'],infer_datetime_format=True)
filtered_df.head()

C:\Users\kmbur\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,facilityId,inspectionDate,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore
0,FA0003323,2013-11-13,01B,Wholesome Free of Spoilage,0,Critical,In,27
1,FA0003323,2013-11-13,15B,Linen Properly Stored,0,Non-Critical,Not Observed,27
2,FA0003323,2013-11-13,06C,Soap and Drying Devices,0,Critical,In,27
3,FA0003323,2015-02-06,03G,Adequate Equipment to Maintain Food Temperatures,0,Critical,In,0
4,FA0003323,2013-11-13,03C,Hot Hold at 135 Degrees Farenheit or Greater,0,Critical,In,27

In [32]:
# create inspection_data table
output_data = '../Database/db_inspection_data.csv'
filtered_df.to_csv(output_data,header=True,index=False)