# Imports & Read Data

In [1]:
#Imports
import pandas as pd
import json
import csv

#set disaply precision
# pd.set_option('display.precision', 2)

In [34]:
#Read the CSV & Create DF
facilities_no_cities = pd.read_csv("Export/tableau_facility_data.csv")
facilities_no_cities

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000
...,...,...,...,...,...,...,...,...,...
861,FA0005449,WHOLE SOL BLEND BAR,40.018204,-105.276692,2,4.1,242,30.000000,4.000000
862,FA0005472,COMA MEXICAN GRILL,39.998027,-105.232897,2,4.5,177,10.000000,1.000000
863,FA0005494,ROSATIS CHICAGO PIZZA,39.980325,-105.128412,2,4.5,924,15.000000,2.000000
864,FA0005506,SCRATCH (INSIDE 300 SUNS BREWING),40.159920,-105.101274,2,4.7,422,15.000000,3.000000
865,FA0005510,CROSSING NUTRITION THE,39.985591,-105.096899,2,4.9,63,15.000000,2.000000

In [33]:
#Read cleaned data with city information
facilities_cities = pd.read_csv("Export/unique_restaurants_geocoded.csv")
facilities_cities

,facilityId,facilityName,siteAddress,streetNumber,streetDirection,streetName,streetType,streetUnit,city,state,...,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore,location,concat_address,split_coords,google_coords
0,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,CO,...,01B,Wholesome Free of Spoilage,0,Critical,In,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897...",1743 MAIN ST LONGMONT CO USA,"40.189746, -105.102332","40.1897717,-105.1026674"
1,FA0000616,FRANKS CHOP HOUSE,921 WALNUT ST,921,NaN,WALNUT,ST,NaN,BOULDER,CO,...,02E,Smoking Eating Drinking,0,Critical,In,20,"921 WALNUT ST\r\nBOULDER, CO 80302\r\n(40.0162...",921 WALNUT ST BOULDER CO USA,"40.016235, -105.282759","40.0165533,-105.2828453"
2,FA0004494,ROASTED TOAD BBQ THE,229 HWY 119,229,NaN,HWY 119,NaN,NaN,NEDERLAND,CO,...,02C,Hands Washed As Needed,0,Critical,In,45,"229 HWY 119\r\nNEDERLAND, CO 80466",229 HWY 119 NEDERLAND CO USA,NaN,"39.9631805,-105.5095941"
3,FA0003893,FAIR ISLE COFFEE CO @ LGMT FARM MRKT,237 COLLYER ST,237,NaN,COLLYER,ST,NaN,Longmont,CO,...,08B,Properly Labeled,0,Critical,In,5,"237 COLLYER ST\r\nLongmont, CO 80501\r\n(40.16...",237 COLLYER ST Longmont CO USA,"40.163078, -105.098175","40.1630767,-105.0985565"
4,FA0003472,TODS ESPRESSO CAFE,6558 LOOKOUT RD,6558,NaN,LOOKOUT,RD,NaN,BOULDER,CO,...,FC51,Plumbing installed; proper backflow devices,10,NaN,Not Observed,10,"6558 LOOKOUT RD\r\nBOULDER, CO 80301\r\n(40.07...",6558 LOOKOUT RD BOULDER CO USA,"40.072805, -105.20104","40.0721707,-105.2008731"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,FA0005279,VOLCAN AZUL (MOBILE),600 COFFMAN ST,600,NaN,COFFMAN,ST,NaN,Longmont,CO,...,14E,Ventilation,0,Non-Critical,Not Observed,51,"600 COFFMAN ST\r\nLongmont, CO 80501\r\n(40.16...",600 COFFMAN ST Longmont CO USA,"40.169396, -105.103819","40.1692156,-105.1034823"
1073,FA0005473,ALTAVITA INDEPENDENT LIVING,1002 ALTA VITA CT,1002,NaN,ALTA VITA,CT,NaN,LONGMONT,CO,...,FC29,Compliance with variance / specialized process...,20,Critical,Not Applicable,60,"1002 ALTA VITA CT\r\nLONGMONT, CO 80503\r\n(40...",1002 ALTA VITA CT LONGMONT CO USA,"40.149859, -105.137485","40.1494709,-105.1364528"
1074,FA0005424,BIG LOTS #4685,2151 MAIN ST,2151,NaN,MAIN,ST,NaN,Longmont,CO,...,FC03,"Management, food employee and conditional empl...",5,Critical,In,10,"2151 MAIN ST\r\nLongmont, CO 80501\r\n(40.1968...",2151 MAIN ST Longmont CO USA,"40.196883, -105.102412","40.1972884,-105.1026221"
1075,FA0005494,ROSATIS CHICAGO PIZZA,1067 COURTESY RD,1067,NaN,COURTESY,RD,NaN,Louisville,CO,...,FC38,"Insects, rodents, & animals not present",10,NaN,In,15,"1067 COURTESY RD\r\nLouisville, CO 80027\r\n(3...",1067 COURTESY RD Louisville CO USA,"39.98035, -105.127871","39.9803249,-105.1284121"
1076,FA0005326,BOULDER COUNTY AIDS PROJECT (PANTRY),2118 14TH ST,2118,NaN,14TH,ST,NaN,Boulder,CO,...,14A,Plumbing Installed Maintained,0,Non-Critical,In,0,"2118 14TH ST\r\nBoulder, CO 80305\r\n(40.01971...",2118 14TH ST Boulder CO USA,"40.019717, -105.27781","40.01994080000001,-105.2776077"

# Matching Facility ID and adding a field to DB data

In [35]:
for index, row in facilities_cities.iterrows():
        #find the city, facID, and address
        facID = facilities_cities.loc[index, "facilityId"]
        city = facilities_cities.loc[index, "city"]
        site_add = facilities_cities.loc[index, "siteAddress"]

        #drop the city and site address into the clean dataframe
        facilities_no_cities.loc[(facID == facilities_no_cities["facility_id"]), 'city'] = city
        facilities_no_cities.loc[(facID == facilities_no_cities["facility_id"]), 'siteAddress'] = site_add
              
facilities_no_cities

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city,siteAddress
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER,4760 N 28TH AVE
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE,641 MAIN ST
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT,7960 NIWOT RD UNIT B5
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER,4800 BASELINE RD UNIT A107
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER,627 S BROADWAY ST UNIT A
...,...,...,...,...,...,...,...,...,...,...,...
861,FA0005449,WHOLE SOL BLEND BAR,40.018204,-105.276692,2,4.1,242,30.000000,4.000000,Boulder,1420 PEARL ST
862,FA0005472,COMA MEXICAN GRILL,39.998027,-105.232897,2,4.5,177,10.000000,1.000000,BOULDER,4800 BASELINE RD UNIT E-105
863,FA0005494,ROSATIS CHICAGO PIZZA,39.980325,-105.128412,2,4.5,924,15.000000,2.000000,Louisville,1067 COURTESY RD
864,FA0005506,SCRATCH (INSIDE 300 SUNS BREWING),40.159920,-105.101274,2,4.7,422,15.000000,3.000000,Longmont,335 1ST AVE
865,FA0005510,CROSSING NUTRITION THE,39.985591,-105.096899,2,4.9,63,15.000000,2.000000,Lafayette,1455 COAL CREEK DR

In [31]:
facilities_no_cities.isnull().sum()

facility_id             0
facility_name           0
google_lat              0
google_long             0
price_level             0
rating                  0
total_ratings           0
avg_inspection_score    0
avg_violations_count    0
city                    0
dtype: int64

# Export to CSV

In [36]:
# Export cleaned, final dataset for tableau
output_data = "Export/tableau_facility_data_cities.csv"
facilities_no_cities.to_csv(output_data,header=True,index=False)

# Cleaned Facility Data to Json for Dashboard

In [7]:
#Read the CSV & Create DF
facilities = pd.read_csv("Export/tableau_facility_data_cities.csv")
facilities.head(10)

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city,siteAddress
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER,4760 N 28TH AVE
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE,641 MAIN ST
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT,7960 NIWOT RD UNIT B5
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER,4800 BASELINE RD UNIT A107
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER,627 S BROADWAY ST UNIT A
5,FA0000018,DISH GOURMET,40.019705,-105.270186,2,4.7,150,65.000000,3.000000,BOULDER,1918 PEARL ST STE 100
6,FA0000021,ROCKY MOUNTAIN PATHWAY RANCH,40.193437,-105.511216,2,4.9,22,10.000000,1.000000,ALLENSPARK,15747 HWY 7
7,FA0000024,ABOS PIZZA SOUTH,39.705075,-104.987575,2,3.5,143,41.666667,3.750000,BOULDER,637 S BROADWAY ST UNIT S
8,FA0000025,ABOS PIZZA NORTH,40.037547,-105.259361,1,4.3,232,29.454545,3.000000,BOULDER,2761 IRIS AVE
9,FA0000026,ABOS PIZZA,39.987999,-105.125530,2,3.5,143,23.777778,4.500000,LOUISVILLE,1355 SOUTH BOULDER RD C2

In [8]:
#transform city names to all caps
facilities["city"] = facilities["city"].str.upper()

In [9]:
# add data to name line for display via website code
facilities['facility_name_plus'] = facilities['city']+' - '+facilities['facility_name']+' - '+facilities['siteAddress']
facilities

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city,siteAddress,facility_name_plus
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER,4760 N 28TH AVE,BOULDER - AMERICAN LEGION BOULDER POST 10 - 47...
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE,641 MAIN ST,LOUISVILLE - MOXIE BREAD COMPANY - 641 MAIN ST
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT,7960 NIWOT RD UNIT B5,NIWOT - ABOS PIZZA - 7960 NIWOT RD UNIT B5
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER,4800 BASELINE RD UNIT A107,BOULDER - MT EVEREST CUISINE - 4800 BASELINE R...
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER,627 S BROADWAY ST UNIT A,BOULDER - UNDER THE SUN EATERY & TAPHOUSE - 62...
...,...,...,...,...,...,...,...,...,...,...,...,...
861,FA0005449,WHOLE SOL BLEND BAR,40.018204,-105.276692,2,4.1,242,30.000000,4.000000,BOULDER,1420 PEARL ST,BOULDER - WHOLE SOL BLEND BAR - 1420 PEARL ST
862,FA0005472,COMA MEXICAN GRILL,39.998027,-105.232897,2,4.5,177,10.000000,1.000000,BOULDER,4800 BASELINE RD UNIT E-105,BOULDER - COMA MEXICAN GRILL - 4800 BASELINE R...
863,FA0005494,ROSATIS CHICAGO PIZZA,39.980325,-105.128412,2,4.5,924,15.000000,2.000000,LOUISVILLE,1067 COURTESY RD,LOUISVILLE - ROSATIS CHICAGO PIZZA - 1067 COUR...
864,FA0005506,SCRATCH (INSIDE 300 SUNS BREWING),40.159920,-105.101274,2,4.7,422,15.000000,3.000000,LONGMONT,335 1ST AVE,LONGMONT - SCRATCH (INSIDE 300 SUNS BREWING) -...
865,FA0005510,CROSSING NUTRITION THE,39.985591,-105.096899,2,4.9,63,15.000000,2.000000,LAFAYETTE,1455 COAL CREEK DR,LAFAYETTE - CROSSING NUTRITION THE - 1455 COAL...

In [10]:
#sort dataframe by facility & city
facilities = facilities.sort_values(by = ['facility_name_plus', 'city'], axis=0, 
                                              ascending = [True, True])
facilities.tail(30)

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city,siteAddress,facility_name_plus
65,FA0000230,TRAIN CARS COFFEE & YOGURT CO THE,39.960384,-105.510129,1,4.7,506,18.100000,2.500000,NEDERLAND,101 S HWY 119 S,NEDERLAND - TRAIN CARS COFFEE & YOGURT CO THE ...
20,FA0000075,TRES GRINGOS CANTINA,39.959823,-105.509431,2,4.5,171,27.000000,2.000000,NEDERLAND,20 LAKEVIEW DR,NEDERLAND - TRES GRINGOS CANTINA - 20 LAKEVIEW DR
294,FA0000942,UBON THAI CUISINE,39.964973,-105.503948,0,4.4,321,37.222222,3.000000,NEDERLAND,155 HWY 119 E,NEDERLAND - UBON THAI CUISINE - 155 HWY 119 E
829,FA0005208,VEGETABLE EXPRESS THE (MOBILE),39.961376,-105.510831,2,5.0,16,5.000000,1.000000,NEDERLAND,750 HWY 72N,NEDERLAND - VEGETABLE EXPRESS THE (MOBILE) - 7...
765,FA0004879,1914 HOUSE,40.103291,-105.172771,2,4.6,388,35.625000,4.000000,NIWOT,121 2ND AVE,NIWOT - 1914 HOUSE - 121 2ND AVE
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT,7960 NIWOT RD UNIT B5,NIWOT - ABOS PIZZA - 7960 NIWOT RD UNIT B5
69,FA0000238,FANS CHINESE CUISINE,40.100049,-105.167244,2,4.0,103,49.941176,4.333333,NIWOT,7960 NIWOT RD UNIT C9,NIWOT - FANS CHINESE CUISINE - 7960 NIWOT RD U...
88,FA0000314,GARDEN GATE CAFE,40.100785,-105.168114,2,4.4,382,54.517241,7.250000,NIWOT,7960 NIWOT RD UNIT B4,NIWOT - GARDEN GATE CAFE - 7960 NIWOT RD UNIT B4
154,FA0000487,LEFTYS GADGET AND PIZZA,40.102041,-105.170054,2,4.4,144,39.545455,5.500000,NIWOT,364 2ND AVE,NIWOT - LEFTYS GADGET AND PIZZA - 364 2ND AVE
711,FA0004603,NIWOT WHEEL WORKS,40.103205,-105.172910,0,4.5,2,17.600000,2.500000,NIWOT,101 2ND AVE,NIWOT - NIWOT WHEEL WORKS - 101 2ND AVE
376,FA0001240,OLD OAK COFFEEHOUSE THE,40.103381,-105.172179,1,4.7,165,34.473684,4.750000,NIWOT,136 2ND AVE UNIT B,NIWOT - OLD OAK COFFEEHOUSE THE - 136 2ND AVE ...
348,FA0001149,PINOCCHIOS,40.102398,-105.170602,2,4.2,608,49.166667,3.000000,NIWOT,300 2ND AVE,NIWOT - PINOCCHIOS - 300 2ND AVE
107,FA0000355,RAZA FRESA MEXICAN KITCHEN,40.100049,-105.167244,2,4.2,209,107.736842,6.000000,NIWOT,7960 NIWOT RD UNIT D11,NIWOT - RAZA FRESA MEXICAN KITCHEN - 7960 NIWO...
365,FA0001203,SUBWAY,40.100806,-105.167880,1,4.3,48,13.000000,2.000000,NIWOT,7960 NIWOT RD UNIT B10,NIWOT - SUBWAY - 7960 NIWOT RD UNIT B10
238,FA0000743,WINOT COFFEE,40.100049,-105.167244,2,4.6,178,32.500000,2.000000,NIWOT,7960 NIWOT RD UNIT D 13,NIWOT - WINOT COFFEE - 7960 NIWOT RD UNIT D 13
415,FA0001338,ASIAN CUISINE AND VIETNAMESE,39.929568,-105.149767,2,4.7,177,54.727273,6.600000,SUPERIOR,1627 COALTON RD,SUPERIOR - ASIAN CUISINE AND VIETNAMESE - 1627...
704,FA0004515,BOSS LADY PIZZA,39.929997,-105.149492,2,4.2,54,5.000000,2.500000,SUPERIOR,1613 COALTON RD,SUPERIOR - BOSS LADY PIZZA - 1613 COALTON RD
806,FA0005066,FAIRWAYS GOLF,39.952734,-105.158882,2,4.5,340,4.000000,1.500000,SUPERIOR,1 SUPERIOR DR,SUPERIOR - FAIRWAYS GOLF - 1 SUPERIOR DR
805,FA0005063,FIREHOUSE SUBS,39.955657,-105.165161,1,4.3,153,2.000000,4.000000,SUPERIOR,100 MCCASLIN BLVD UNIT 103,SUPERIOR - FIREHOUSE SUBS - 100 MCCASLIN BLVD ...
388,FA0001269,IHOP 2071,39.957833,-105.170535,1,3.7,332,17.400000,3.333333,SUPERIOR,401 CENTER DR,SUPERIOR - IHOP 2071 - 401 CENTER DR
534,FA0002513,PANDA EXPRESS#1100,39.957876,-105.169437,1,2.9,189,3.666667,1.500000,SUPERIOR,301 CENTER DR,SUPERIOR - PANDA EXPRESS#1100 - 301 CENTER DR
520,FA0002435,PANERA BREAD #2432,39.955741,-105.168980,2,3.8,373,10.000000,1.000000,SUPERIOR,302 CENTER DR UNIT A,SUPERIOR - PANERA BREAD #2432 - 302 CENTER DR ...
357,FA0001183,PJS DINER,39.929025,-105.149348,1,4.7,878,26.500000,3.000000,SUPERIOR,1619 COALTON RD,SUPERIOR - PJS DINER - 1619 COALTON RD
801,FA0005033,STARBUCKS COFFEE #47385,39.955657,-105.165161,2,4.3,357,1.000000,1.000000,SUPERIOR,100 MCCASLIN BLVD,SUPERIOR - STARBUCKS COFFEE #47385 - 100 MCCAS...
586,FA0002840,STARBUCKS COFFEE 10867,39.928060,-105.147688,2,4.2,236,23.333333,3.000000,SUPERIOR,2800 ROCK CREEK CIR UNIT A-1,SUPERIOR - STARBUCKS COFFEE 10867 - 2800 ROCK ...
426,FA0001374,SUSHI OUTLET,39.956474,-105.170534,2,4.6,459,25.000000,2.000000,SUPERIOR,402 MARSHALL RD,SUPERIOR - SUSHI OUTLET - 402 MARSHALL RD
427,FA0001375,TEQUILA Y MEZCHAL,39.929591,-105.149929,2,4.7,176,40.538462,6.500000,SUPERIOR,1631 COALTON RD,SUPERIOR - TEQUILA Y MEZCHAL - 1631 COALTON RD
90,FA0000327,GLACIER VIEW RANCH,40.124938,-105.460053,2,4.9,24,50.000000,4.500000,WARD,8748 OVERLAND RD,WARD - GLACIER VIEW RANCH - 8748 OVERLAND RD
722,FA0004654,JACKLEGGERS MERCANTILE,40.072833,-105.506889,2,5.0,11,20.000000,1.000000,WARD,62 UTICA ST,WARD - JACKLEGGERS MERCANTILE - 62 UTICA ST
167,FA0000541,MILLSITE INN,40.078727,-105.502677,1,4.2,88,30.000000,3.000000,WARD,44365 HWY 72,WARD - MILLSITE INN - 44365 HWY 72

In [22]:
#create facilities DF with data columns
facilities_json = facilities[["city", "facility_name", "facility_name_plus", "facility_id", "rating", "total_ratings", "avg_inspection_score", "avg_violations_count"]]
facilities_json

,city,facility_name,facility_name_plus,facility_id,rating,total_ratings,avg_inspection_score,avg_violations_count
160,ALLENSPARK,MEADOW MOUNTAIN CAFE,ALLENSPARK - MEADOW MOUNTAIN CAFE - 441 BUSINE...,FA0000515,4.7,113,80.000000,7.0
6,ALLENSPARK,ROCKY MOUNTAIN PATHWAY RANCH,ALLENSPARK - ROCKY MOUNTAIN PATHWAY RANCH - 15...,FA0000021,4.9,22,10.000000,1.0
407,BOULDER,(CU) FARRAND ALLEY,BOULDER - (CU) FARRAND ALLEY - 2200 BARKER DR,FA0001319,4.3,4,10.000000,1.0
442,BOULDER,(CU) SEEC CAFE,BOULDER - (CU) SEEC CAFE - 4001 DISCOVERY DR,FA0001542,4.0,33,20.200000,2.5
408,BOULDER,(CU) SEWALL DINING CENTER,BOULDER - (CU) SEWALL DINING CENTER - 1720 UNI...,FA0001321,5.0,2,32.500000,2.0
...,...,...,...,...,...,...,...,...
426,SUPERIOR,SUSHI OUTLET,SUPERIOR - SUSHI OUTLET - 402 MARSHALL RD,FA0001374,4.6,459,25.000000,2.0
427,SUPERIOR,TEQUILA Y MEZCHAL,SUPERIOR - TEQUILA Y MEZCHAL - 1631 COALTON RD,FA0001375,4.7,176,40.538462,6.5
90,WARD,GLACIER VIEW RANCH,WARD - GLACIER VIEW RANCH - 8748 OVERLAND RD,FA0000327,4.9,24,50.000000,4.5
722,WARD,JACKLEGGERS MERCANTILE,WARD - JACKLEGGERS MERCANTILE - 62 UTICA ST,FA0004654,5.0,11,20.000000,1.0
167,WARD,MILLSITE INN,WARD - MILLSITE INN - 44365 HWY 72,FA0000541,4.2,88,30.000000,3.0

# Merging Database files with Specific Violation data

In [23]:
#Read database export containing Violation information
facilities_violations = pd.read_csv("Export/violations_by_facility.csv")
facilities_violations

,facility_id,inspection_date,violation_category,lower
0,FA0000009,2015-04-09,toilets/handwashing,soap and drying devices
1,FA0000009,2017-05-09,food source,cross contamination
2,FA0000009,2017-05-09,water/sewage/plumbing,backflow back siphonage
3,FA0000009,2017-05-09,toilets/handwashing,soap and drying devices
4,FA0000009,2017-05-09,equipment/utensil cleaning,mechanical
...,...,...,...,...
8725,FA0005510,2019-10-14,personnel,procedures for responding to vomiting and diar...
8726,FA0005510,2019-10-14,personnel,certified food protection manager
8727,FA0005534,2019-10-08,food source,compliance with variance / specialized process...
8728,FA0005534,2019-10-08,pest control,"insects, rodents, & animals not present"
8729,FA0005535,2019-12-13,equipment/utensil cleaning,food contact surfaces; cleaned & sanitized

In [24]:
#sort by descending by most recent violation date
facilities_violations = facilities_violations.sort_values(by = ['inspection_date'], axis=0, 
                                              ascending = False)
facilities_violations

,facility_id,inspection_date,violation_category,lower
5511,FA0001782,2019-12-30,food source,proper date marking and disposition
5510,FA0001782,2019-12-30,toilets/handwashing,adequate handwashing sinks properly supplied a...
5509,FA0001782,2019-12-30,personnel,certified food protection manager
5508,FA0001782,2019-12-30,water/sewage/plumbing,hot & cold water available; adequate pressure
631,FA0000193,2019-12-26,food source,proper date marking and disposition
...,...,...,...,...
1205,FA0000356,2013-01-02,personnel,training needed
1204,FA0000356,2013-01-02,poisons/toxins,properly stored
4660,FA0001272,2013-01-02,personnel,hygienic practices
4659,FA0001272,2013-01-02,water/sewage/plumbing,hot and cold water under pressure
7153,FA0003410,2013-01-02,food temperature control,cold hold at 41 degrees or less

In [25]:
#convert Violations cat to Title Case
facilities_violations['violation_category'] = facilities_violations['violation_category'].str.title()
#And lower cat to capital case
facilities_violations['lower'] = facilities_violations['lower'].str.capitalize()
facilities_violations

,facility_id,inspection_date,violation_category,lower
5511,FA0001782,2019-12-30,Food Source,Proper date marking and disposition
5510,FA0001782,2019-12-30,Toilets/Handwashing,Adequate handwashing sinks properly supplied a...
5509,FA0001782,2019-12-30,Personnel,Certified food protection manager
5508,FA0001782,2019-12-30,Water/Sewage/Plumbing,Hot & cold water available; adequate pressure
631,FA0000193,2019-12-26,Food Source,Proper date marking and disposition
...,...,...,...,...
1205,FA0000356,2013-01-02,Personnel,Training needed
1204,FA0000356,2013-01-02,Poisons/Toxins,Properly stored
4660,FA0001272,2013-01-02,Personnel,Hygienic practices
4659,FA0001272,2013-01-02,Water/Sewage/Plumbing,Hot and cold water under pressure
7153,FA0003410,2013-01-02,Food Temperature Control,Cold hold at 41 degrees or less

In [26]:
#create the vilations category, contactenate the data, use an underscore to mark the end of one violation and the beginning of another.
facilities_violations['combo'] = facilities_violations['inspection_date']+' - '+facilities_violations['violation_category']+' - '+facilities_violations['lower']+"_"
facilities_violations

# create a simplified DF
facilities_violations_simple = facilities_violations[["facility_id", "combo"]]
facilities_violations_simple

     facility_id                                              combo
5511   FA0001782  2019-12-30 - Food Source - Proper date marking...
5510   FA0001782  2019-12-30 - Toilets/Handwashing - Adequate ha...
5509   FA0001782  2019-12-30 - Personnel - Certified food protec...
5508   FA0001782  2019-12-30 - Water/Sewage/Plumbing - Hot & col...
631    FA0000193  2019-12-26 - Food Source - Proper date marking...
...          ...                                                ...
1205   FA0000356          2013-01-02 - Personnel - Training needed_
1204   FA0000356     2013-01-02 - Poisons/Toxins - Properly stored_
4660   FA0001272       2013-01-02 - Personnel - Hygienic practices_
4659   FA0001272  2013-01-02 - Water/Sewage/Plumbing - Hot and c...
7153   FA0003410  2013-01-02 - Food Temperature Control - Cold h...

[8730 rows x 2 columns]

In [27]:
# Combine the data into a single dataset
facilities_json_merged = pd.merge(facilities_json, facilities_violations_simple, how="left", on=["facility_id", "facility_id"])

# Flatten the combo column to a single line
merged_vio = facilities_json_merged.groupby('facility_id')['combo'].apply(''.join).reset_index()
merged_vio

    facility_id                                              combo
0     FA0000009  2017-05-09 - Food Source - Cross contamination...
1     FA0000010  2017-05-16 - Water/Sewage/Plumbing - Hot and c...
2     FA0000011  2015-03-20 - Personnel - Hygienic practices_20...
3     FA0000015  2017-10-05 - Personnel - Hygienic practices_20...
4     FA0000017  2019-07-30 - Food Source - Consumer advisory p...
..          ...                                                ...
861   FA0005449  2019-12-12 - Physical Facilities - Adequate ve...
862   FA0005472  2019-10-28 - Personnel - Certified food protec...
863   FA0005494  2019-10-01 - Personnel - Procedures for respon...
864   FA0005506  2019-10-24 - Equipment/Utensil Cleaning - Ware...
865   FA0005510  2019-10-14 - Personnel - Certified food protec...

[866 rows x 2 columns]

In [28]:
#copy the df
facilities_json_vio = facilities_json.copy()

#loop over the violations df to assemble FacID plus facility name plus violations
for index, row in merged_vio.iterrows():
        #find the facID and violation data
        facID = merged_vio.loc[index, "facility_id"]
        violations = merged_vio.loc[index, "combo"]

        #drop the violationdata into the clean dataframe
        facilities_json_vio.loc[(facID == facilities_json["facility_id"]), 'violations'] = violations
              
facilities_json_vio_clean = facilities_json_vio[["facility_name_plus", "violations"]]
facilities_json_vio_clean

,facility_name_plus,violations
160,ALLENSPARK - MEADOW MOUNTAIN CAFE - 441 BUSINE...,2019-08-29 - Food Source - Consumer advisory p...
6,ALLENSPARK - ROCKY MOUNTAIN PATHWAY RANCH - 15...,2014-06-18 - Poisons/Toxins - Properly stored_
407,BOULDER - (CU) FARRAND ALLEY - 2200 BARKER DR,2015-02-05 - Water/Sewage/Plumbing - Backflow ...
442,BOULDER - (CU) SEEC CAFE - 4001 DISCOVERY DR,2019-12-10 - Food Temperature Control - Proper...
408,BOULDER - (CU) SEWALL DINING CENTER - 1720 UNI...,2019-12-03 - Food Temperature Control - Proper...
...,...,...
426,SUPERIOR - SUSHI OUTLET - 402 MARSHALL RD,2018-06-06 - Food Source - Cross contamination...
427,SUPERIOR - TEQUILA Y MEZCHAL - 1631 COALTON RD,2018-12-27 - Food Labeling/Protection - Food p...
90,WARD - GLACIER VIEW RANCH - 8748 OVERLAND RD,2016-07-21 - Poisons/Toxins - Properly stored_...
722,WARD - JACKLEGGERS MERCANTILE - 62 UTICA ST,2018-07-12 - Food Source - Cross contamination_
167,WARD - MILLSITE INN - 44365 HWY 72,2015-07-01 - Toilets/Handwashing - Soap and dr...

# Make the Json Files

In [144]:
# Export cleaned, dataset for Json conversion A
output_data = "Export/dashboard_facility_data_cities.csv"
facilities_json.to_csv(output_data,header=True,index=False, float_format='%.2f')

In [29]:
# Export cleaned, dataset for Json conversion B
output_data = "Export/violation_data_dashbaord.csv"
facilities_json_vio_clean.to_csv(output_data,header=True,index=False)

In [154]:
# function to create json from CSV A
def make_json(csvFilePath, jsonFilePath):

    # create the facility dictionary
    data = {"names" : [], "metadata": []}
    
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)

        # Convert each row for the dictionary
        for rows in csvReader:
            name = rows["facility_name_plus"]
            data["names"].append(name)
            data["metadata"].append(rows)

    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
#Set the file paths
csvFilePath = r'Export/dashboard_facility_data_cities.csv'
jsonFilePath = r'../Website_Files/web_facility_data.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)

In [30]:
# function to create json from CSV B
def make_json(csvFilePath, jsonFilePath):

    # create the facility dictionary
    data = {"facility_names_plus" : [], "violations": []}
    
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)

        # Convert each row for the dictionary
        for rows in csvReader:
            name = rows["facility_name_plus"]
            data["facility_names_plus"].append(name)
            data["violations"].append(rows)

    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
#Set the file paths
csvFilePath = r'Export/violation_data_dashbaord.csv'
jsonFilePath = r'../docs/web_facility_data2.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)