# Imports & Read Data

In [1]:
#Imports
import pandas as pd
import json
import csv

In [3]:
#Read the CSV & Create DF
facilities_no_cities = pd.read_csv("tableau_facility_data.csv")
facilities_no_cities.head(10)

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000
5,FA0000018,DISH GOURMET,40.019705,-105.270186,2,4.7,150,65.000000,3.000000
6,FA0000021,ROCKY MOUNTAIN PATHWAY RANCH,40.193437,-105.511216,2,4.9,22,10.000000,1.000000
7,FA0000024,ABOS PIZZA SOUTH,39.705075,-104.987575,2,3.5,143,41.666667,3.750000
8,FA0000025,ABOS PIZZA NORTH,40.037547,-105.259361,1,4.3,232,29.454545,3.000000
9,FA0000026,ABOS PIZZA,39.987999,-105.125530,2,3.5,143,23.777778,4.500000

In [5]:
#Read cleaned data with city information
facilities_cities = pd.read_csv("Data_Prep/Export/unique_restaurants_geocoded.csv")
facilities_cities.head(10)

,facilityId,facilityName,siteAddress,streetNumber,streetDirection,streetName,streetType,streetUnit,city,state,...,violationCode,violation,violationPoints,violationType,violationStatus,inspectionScore,location,concat_address,split_coords,google_coords
0,FA0003323,RUNZA,1743 MAIN ST,1743,NaN,MAIN,ST,NaN,LONGMONT,CO,...,01B,Wholesome Free of Spoilage,0,Critical,In,27,"1743 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.1897...",1743 MAIN ST LONGMONT CO USA,"40.189746, -105.102332","40.1897717,-105.1026674"
1,FA0000616,FRANKS CHOP HOUSE,921 WALNUT ST,921,NaN,WALNUT,ST,NaN,BOULDER,CO,...,02E,Smoking Eating Drinking,0,Critical,In,20,"921 WALNUT ST\r\nBOULDER, CO 80302\r\n(40.0162...",921 WALNUT ST BOULDER CO USA,"40.016235, -105.282759","40.0165533,-105.2828453"
2,FA0004494,ROASTED TOAD BBQ THE,229 HWY 119,229,NaN,HWY 119,NaN,NaN,NEDERLAND,CO,...,02C,Hands Washed As Needed,0,Critical,In,45,"229 HWY 119\r\nNEDERLAND, CO 80466",229 HWY 119 NEDERLAND CO USA,NaN,"39.9631805,-105.5095941"
3,FA0003893,FAIR ISLE COFFEE CO @ LGMT FARM MRKT,237 COLLYER ST,237,NaN,COLLYER,ST,NaN,Longmont,CO,...,08B,Properly Labeled,0,Critical,In,5,"237 COLLYER ST\r\nLongmont, CO 80501\r\n(40.16...",237 COLLYER ST Longmont CO USA,"40.163078, -105.098175","40.1630767,-105.0985565"
4,FA0003472,TODS ESPRESSO CAFE,6558 LOOKOUT RD,6558,NaN,LOOKOUT,RD,NaN,BOULDER,CO,...,FC51,Plumbing installed; proper backflow devices,10,NaN,Not Observed,10,"6558 LOOKOUT RD\r\nBOULDER, CO 80301\r\n(40.07...",6558 LOOKOUT RD BOULDER CO USA,"40.072805, -105.20104","40.0721707,-105.2008731"
5,FA0003618,CARNICERIA EL CERRITO,936 MAIN ST,936,NaN,MAIN,ST,NaN,LONGMONT,CO,...,FC42,Washing fruits & vegetables,15,NaN,Not Observed,25,"936 MAIN ST\r\nLONGMONT, CO 80501\r\n(40.17532...",936 MAIN ST LONGMONT CO USA,"40.175326, -105.102459","40.1753769,-105.102119"
6,FA0002790,PALETERIA LA MICHOACANA,2130 N MAIN ST UNIT 1,2130,N,MAIN,ST,1,LONGMONT,CO,...,FC48,"Warewashing facilities: installed, maintained,...",5,NaN,Not Observed,45,"2130 N MAIN ST UNIT 1\r\nLONGMONT, CO 80501\r\...",2130 N MAIN ST UNIT 1 LONGMONT CO USA,"40.196791, -105.102409","40.196846,-105.1009613"
7,FA0001363,TIBETS RESTAURANT AND BAR,321 S MCCASLIN BLVD,321,S,MCCASLIN,BLVD,NaN,LOUISVILLE,CO,...,FC20,Proper cooling time and temperature,20,Critical,Not Observed,65,"321 S MCCASLIN BLVD\r\nLOUISVILLE, CO 80027\r\...",321 S MCCASLIN BLVD LOUISVILLE CO USA,"39.96672, -105.16353","39.9666052,-105.1639878"
8,FA0000878,UTE CREEK GOLF COURSE,2000 UTE CREEK DR,2000,NaN,UTE CREEK,DR,NaN,LONGMONT,CO,...,FC52,Sewage & waste water properly disposed,20,NaN,Not Observed,20,"2000 UTE CREEK DR\r\nLONGMONT, CO 805019103\r\...",2000 UTE CREEK DR LONGMONT CO USA,"40.195844, -105.067285","40.1892487,-105.0638812"
9,FA0004983,LEVY IPF 1 (MOBILE),2400 COLORADO AVE,2400,NaN,COLORADO,AVE,NaN,BOULDER,CO,...,05D,Sewage Disposal,0,Critical,In,20,"2400 COLORADO AVE\r\nBOULDER, CO 80309\r\n(40....",2400 COLORADO AVE BOULDER CO USA,"40.008231, -105.264147","40.0091912,-105.2669142"

# Matching Facility ID and adding a field to DB data

In [18]:
for index, row in facilities_cities.iterrows():
        #find the city
        facID = facilities_cities.loc[index, "facilityId"]
        city = facilities_cities.loc[index, "city"]

        #drop the city into the clean dataframe
        facilities_no_cities.loc[(facID == facilities_no_cities["facility_id"]), 'city'] = city
              
facilities_no_cities.head()

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER

In [20]:
facilities_no_cities.isnull().sum()

facility_id             0
facility_name           0
google_lat              0
google_long             0
price_level             0
rating                  0
total_ratings           0
avg_inspection_score    0
avg_violations_count    0
city                    0
dtype: int64

# Export to CSV

In [ ]:
# Export cleaned, final dataset for tableau
output_data = "tableau_facility_data_cities.csv"
facilities_no_cities.to_csv(output_data,header=True,index=False)

# Cleaned Facility Data to Json for Dashboard

In [12]:
#Read the CSV & Create DF
facilities = pd.read_csv("../tableau_facility_data_cities.csv")
facilities.head(10)

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city
0,FA0000009,AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER
1,FA0000010,MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE
2,FA0000011,ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT
3,FA0000015,MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER
4,FA0000017,UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER
5,FA0000018,DISH GOURMET,40.019705,-105.270186,2,4.7,150,65.000000,3.000000,BOULDER
6,FA0000021,ROCKY MOUNTAIN PATHWAY RANCH,40.193437,-105.511216,2,4.9,22,10.000000,1.000000,ALLENSPARK
7,FA0000024,ABOS PIZZA SOUTH,39.705075,-104.987575,2,3.5,143,41.666667,3.750000,BOULDER
8,FA0000025,ABOS PIZZA NORTH,40.037547,-105.259361,1,4.3,232,29.454545,3.000000,BOULDER
9,FA0000026,ABOS PIZZA,39.987999,-105.125530,2,3.5,143,23.777778,4.500000,LOUISVILLE

In [13]:
#transform city names to all caps
facilities["city"] = facilities["city"].str.upper()

In [14]:
# add data to name line for display via website code
facilities['facility_name'] = facilities['city']+' - '+facilities['facility_name']
facilities

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city
0,FA0000009,BOULDER - AMERICAN LEGION BOULDER POST 10,40.060591,-105.273595,2,4.9,15,36.000000,2.500000,BOULDER
1,FA0000010,LOUISVILLE - MOXIE BREAD COMPANY,39.976717,-105.132303,2,4.7,937,12.750000,5.333333,LOUISVILLE
2,FA0000011,NIWOT - ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT
3,FA0000015,BOULDER - MT EVEREST CUISINE,39.998027,-105.232897,1,4.7,232,43.428571,4.666667,BOULDER
4,FA0000017,BOULDER - UNDER THE SUN EATERY & TAPHOUSE,39.705197,-104.987561,2,4.3,109,25.000000,2.000000,BOULDER
...,...,...,...,...,...,...,...,...,...,...
861,FA0005449,BOULDER - WHOLE SOL BLEND BAR,40.018204,-105.276692,2,4.1,242,30.000000,4.000000,BOULDER
862,FA0005472,BOULDER - COMA MEXICAN GRILL,39.998027,-105.232897,2,4.5,177,10.000000,1.000000,BOULDER
863,FA0005494,LOUISVILLE - ROSATIS CHICAGO PIZZA,39.980325,-105.128412,2,4.5,924,15.000000,2.000000,LOUISVILLE
864,FA0005506,LONGMONT - SCRATCH (INSIDE 300 SUNS BREWING),40.159920,-105.101274,2,4.7,422,15.000000,3.000000,LONGMONT
865,FA0005510,LAFAYETTE - CROSSING NUTRITION THE,39.985591,-105.096899,2,4.9,63,15.000000,2.000000,LAFAYETTE

In [15]:
#sort dataframe by facility & city
facilities = facilities.sort_values(by = ['city', 'facility_name'], axis=0, 
                                              ascending = [True,True])
facilities.tail(30)

,facility_id,facility_name,google_lat,google_long,price_level,rating,total_ratings,avg_inspection_score,avg_violations_count,city
65,FA0000230,NEDERLAND - TRAIN CARS COFFEE & YOGURT CO THE,39.960384,-105.510129,1,4.7,506,18.100000,2.500000,NEDERLAND
20,FA0000075,NEDERLAND - TRES GRINGOS CANTINA,39.959823,-105.509431,2,4.5,171,27.000000,2.000000,NEDERLAND
294,FA0000942,NEDERLAND - UBON THAI CUISINE,39.964973,-105.503948,0,4.4,321,37.222222,3.000000,NEDERLAND
829,FA0005208,NEDERLAND - VEGETABLE EXPRESS THE (MOBILE),39.961376,-105.510831,2,5.0,16,5.000000,1.000000,NEDERLAND
765,FA0004879,NIWOT - 1914 HOUSE,40.103291,-105.172771,2,4.6,388,35.625000,4.000000,NIWOT
2,FA0000011,NIWOT - ABOS PIZZA,40.100740,-105.168125,1,4.3,119,37.857143,3.500000,NIWOT
69,FA0000238,NIWOT - FANS CHINESE CUISINE,40.100049,-105.167244,2,4.0,103,49.941176,4.333333,NIWOT
88,FA0000314,NIWOT - GARDEN GATE CAFE,40.100785,-105.168114,2,4.4,382,54.517241,7.250000,NIWOT
154,FA0000487,NIWOT - LEFTYS GADGET AND PIZZA,40.102041,-105.170054,2,4.4,144,39.545455,5.500000,NIWOT
711,FA0004603,NIWOT - NIWOT WHEEL WORKS,40.103205,-105.172910,0,4.5,2,17.600000,2.500000,NIWOT
376,FA0001240,NIWOT - OLD OAK COFFEEHOUSE THE,40.103381,-105.172179,1,4.7,165,34.473684,4.750000,NIWOT
348,FA0001149,NIWOT - PINOCCHIOS,40.102398,-105.170602,2,4.2,608,49.166667,3.000000,NIWOT
107,FA0000355,NIWOT - RAZA FRESA MEXICAN KITCHEN,40.100049,-105.167244,2,4.2,209,107.736842,6.000000,NIWOT
365,FA0001203,NIWOT - SUBWAY,40.100806,-105.167880,1,4.3,48,13.000000,2.000000,NIWOT
238,FA0000743,NIWOT - WINOT COFFEE,40.100049,-105.167244,2,4.6,178,32.500000,2.000000,NIWOT
415,FA0001338,SUPERIOR - ASIAN CUISINE AND VIETNAMESE,39.929568,-105.149767,2,4.7,177,54.727273,6.600000,SUPERIOR
704,FA0004515,SUPERIOR - BOSS LADY PIZZA,39.929997,-105.149492,2,4.2,54,5.000000,2.500000,SUPERIOR
806,FA0005066,SUPERIOR - FAIRWAYS GOLF,39.952734,-105.158882,2,4.5,340,4.000000,1.500000,SUPERIOR
805,FA0005063,SUPERIOR - FIREHOUSE SUBS,39.955657,-105.165161,1,4.3,153,2.000000,4.000000,SUPERIOR
388,FA0001269,SUPERIOR - IHOP 2071,39.957833,-105.170535,1,3.7,332,17.400000,3.333333,SUPERIOR
534,FA0002513,SUPERIOR - PANDA EXPRESS#1100,39.957876,-105.169437,1,2.9,189,3.666667,1.500000,SUPERIOR
520,FA0002435,SUPERIOR - PANERA BREAD #2432,39.955741,-105.168980,2,3.8,373,10.000000,1.000000,SUPERIOR
357,FA0001183,SUPERIOR - PJS DINER,39.929025,-105.149348,1,4.7,878,26.500000,3.000000,SUPERIOR
801,FA0005033,SUPERIOR - STARBUCKS COFFEE #47385,39.955657,-105.165161,2,4.3,357,1.000000,1.000000,SUPERIOR
586,FA0002840,SUPERIOR - STARBUCKS COFFEE 10867,39.928060,-105.147688,2,4.2,236,23.333333,3.000000,SUPERIOR
426,FA0001374,SUPERIOR - SUSHI OUTLET,39.956474,-105.170534,2,4.6,459,25.000000,2.000000,SUPERIOR
427,FA0001375,SUPERIOR - TEQUILA Y MEZCHAL,39.929591,-105.149929,2,4.7,176,40.538462,6.500000,SUPERIOR
90,FA0000327,WARD - GLACIER VIEW RANCH,40.124938,-105.460053,2,4.9,24,50.000000,4.500000,WARD
722,FA0004654,WARD - JACKLEGGERS MERCANTILE,40.072833,-105.506889,2,5.0,11,20.000000,1.000000,WARD
167,FA0000541,WARD - MILLSITE INN,40.078727,-105.502677,1,4.2,88,30.000000,3.000000,WARD

In [16]:
#create facilities DF with data columns
facilities_json = facilities[["city", "facility_name", "facility_id", "rating", "total_ratings", "avg_inspection_score", "avg_violations_count"]].copy()
facilities_json.head()

,city,facility_name,facility_id,rating,total_ratings,avg_inspection_score,avg_violations_count
160,ALLENSPARK,ALLENSPARK - MEADOW MOUNTAIN CAFE,FA0000515,4.7,113,80.0,7.0
6,ALLENSPARK,ALLENSPARK - ROCKY MOUNTAIN PATHWAY RANCH,FA0000021,4.9,22,10.0,1.0
407,BOULDER,BOULDER - (CU) FARRAND ALLEY,FA0001319,4.3,4,10.0,1.0
442,BOULDER,BOULDER - (CU) SEEC CAFE,FA0001542,4.0,33,20.2,2.5
408,BOULDER,BOULDER - (CU) SEWALL DINING CENTER,FA0001321,5.0,2,32.5,2.0

In [20]:
# Export cleaned, dataset for Json conversion 
output_data = "dashboard_facility_data_cities.csv"
facilities_json.to_csv(output_data,header=True,index=False)

In [21]:
# function to create json from CSV
def make_json(csvFilePath, jsonFilePath):

    # create the facility dictionary
    data = {"names" : [], "metadata": []}
    
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)

        # Convert each row for the dictionary
        for rows in csvReader:
            facId = rows["facility_id"]
            name = rows["facility_name"]
            data["names"].append(name)
            data["metadata"].append(rows)

    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
#Set the file paths
csvFilePath = r'dashboard_facility_data_cities.csv'
jsonFilePath = r'../Website_Files/web_facility_data.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)